@page
@model FinalProject_skinsinger.Pages.Sauces.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sauce</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sauce.SauceName" class="control-label"></label>
                <input asp-for="Sauce.SauceName" class="form-control" />
                <span asp-validation-for="Sauce.SauceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sauce.Price" class="control-label"></label>
                <input asp-for="Sauce.Price" class="form-control" />
                <span asp-validation-for="Sauce.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
