/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">  */


footer
{
	background-color:black;
	font-family: 'IBM Plex Serif', serif;
	font-weight:bold;
}

h1
{
	font-family: 'IBM Plex Serif', serif;
	font-size: 96px;
	padding-top:4%;
	color:black;
	
}


a:link
{
	color:white;
	font-size: 22px;
	font-weight:bold;
}
a:hover
{ color:red;
}

p{
	font-family: 'IBM Plex Serif', serif;
	font-size:24px;
	
}

body
{
	background-color:#95C9C4;
	#95C9C4
	max-width:60%;
	font-family: 'IBM Plex Serif', serif;
}

#carouselExampleCaptions.carousel.slide
{
	padding-bottom:30%;
}

h4
{
	font-family: 'IBM Plex Serif', serif;
	font-size: 40px;
	font-weight:extra-bold;
}

.row
{
	padding-bottom:5%;
}

.containermenu
{margin-bottom:60%;
}

form{
	font-family: 'IBM Plex Serif', serif;
	font-size:18px;
}	

.container-fluid
{ margin:0;
}