@page
@model FinalProject_skinsinger.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h1><i><strong>Hi, I'm Bob.</i></strong></h1>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <p>
                Bob's Barbeque Quick Stop started in my very own backyard. During the pandemic while I had a lot of free time
                I started cooking for myself more often. I then started dropping off food on the porches of people in my circle.
                I used food to connect to my friends and family in a time where we couldn't be together in person. This small thing 
                kept me in contact with people that I care about. 
            </p>
            <p>I began to get more creative with the dishes I was making, and started to develop a ficticious menu. I was really enjoying 
                the time that I had to put into cooking, and the connections that the food gave me in a rough time of isolation. When the 
                world started to open back up I decided to turn my covid coping mechanism into a restaurant. I'm thankful to have left my 
                day job, and feel a lot more passionate about Bob's Barbeque Quick Stop. 
            </p>
            

        </div>
        <div class="col">
            <img src="images/bobphoto.jpg" class="rounded-circle" alt="Photo of Bob the owner of Bob's BBQ'">
        </div>

    </div>
</div>
<br><br><br><br><br><br><br>
