@page
@model FinalProject_skinsinger.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1>Menu</h1>
</div>
<div class="container-fluid">
    <div class="row">
<div class="jumbotron">
    <h1 class="display-4">Hope you're hungry!</h1>
    <p class="lead">You've reached the best part of the site, the food!</p>
    <hr class="my-4">
    <p>Click below to download the menu!</p>
    <a class="btn btn-danger btn-lg" href="images/SeasonalMenu.pdf" role="button">Download Menu PDF</a>
</div>
    </div>

<br><br>
    <div class="row">
        <div class="col">
            <img src="images/crab.jpg" class="img-fluid" alt="crab">
        </div>
        <div class="col">
            <img src="images/fries.jpg" class="img-fluid" alt="fries">
        </div>
        <div class="col">
            <img src="images/sandwich.jpg" class="img-fluid" alt="sandwich">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="images/kebab.jpg" class="img-fluid" alt="kebab">
        </div>
        <div class="col">
            <img src="images/coffee.jpg" class="img-fluid" alt="coffee">
        </div>
        <div class="col">
            <img src="images/fish.jpg" class="img-fluid" alt="fish">
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>